APScheduler==3.3.0
cffi==1.9.1
cryptography==1.7.1
defusedxml==0.4.1
Django==1.10.2
django-allauth==0.30.0
django-battlenet==0.0.3
django-debug-toolbar==1.6
django-widget-tweaks==1.4.1
Gecko==1.0.19
gunicorn==19.6.0
idna==2.2
oauthlib==2.0.1
paramiko==2.1.1
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.17
pyserial==3.2.1
python3-openid==3.0.10
pytz==2016.7
requests==2.12.1
requests-oauthlib==0.7.0
selenium==3.0.1
six==1.10.0
sqlparse==0.2.2
tzlocal==1.3
