{% extends 'base.html' %}

{% block content %}

<h1> LiTSL Rules and Regulations </h1>

<strong> *Most Important things to know<strong>
<ul>
	<li>Must be on a LiT tag the whole time and you must pick 1 race to play (random counts)</li>
	<li>The LiTSL Discord channel is where info will be given and you must be a member of it</li>
	<li>There are deadlines to schedule your matches listed on the schedule</li>
	<li>Replays must be uploaded to the folder by 11:59pm EST of the last monday of the round</li>
</ul>

<ol>
	<li> 
		General 

		<ol type="I">
			<li> Be aware of the schedule and deadlines, games will not count if they are not played when they are scheduled.</li>
			<li> Must not hurt the integrity of the tournament in any form. Some example are, but not limited to, smurfing, hacking, stream cheating, or intentionally missing matches. Anyone caught may be removed from the tournament and any number of following tournaments due to the severity of the incident.</li>
			<li> Replays must be added to the google drive folder after each match and is the responsibility of the winner. Games will not count if a replay is not uploaded.</li>
			<li> In order for a player to receive a walkover win they must message an admin to request it. Whether it is that a player did not schedule, a player says they forfeit their spot, or any other reasons., The claiming player must have proof that they tried to contact their opponent multiple times and could not schedule a match</li>
			<li> Bad Manners are acceptable only if both parties agree that it is in good fun.</li>
			<li> Penalties for breaking any rules will be discussed among the admins</li>
			<li> Exceptions to any of these rules must be granted by an admin before any action is taken.</li>
		</ol>

	<li> 
		Participation and Format

		<ol type="I">	
			<li>Must be a member of one of the Lost in Translation clan tags (i.e. |LiT|, LiTeam) for the entire duration of the tournament, if one leaves the clan tag they forfeit all of their games.</li>
			<li>Must be a member of the LiTSL Discord group</li>
			<li>There will be no replacements unless there is an extreme case at the beginning of the tournament. All changes must be approved by the Admin Staff</li>
			<li>Players must play the same race (Terran, Zerg, Protoss or Random) for the entire tournament.</li>
			<li>The LiTSL will be limited to 16 spots. 4 groups of 4 players each for the group stage.</li>
			<li>The 16 spots will be filled by the highest leagues first. If there are less spots than there are people in the next league down the tie breaker will be Blizzard ladder points during the last day to sign up</li>
		</ol>
	</li>
	<li> 
		Scheduling and Deadlines
		<ol type="I">
			<li>There will be two weeks to play group stages and one week to play each bracket stage. The semi finals onward will happen on a predetermined weekend date discussed by the admins and the four finalists.</li>
			<li>Group game stages must be scheduled within the first week of play. Bracket games must be scheduled by 11:59 EST Friday night. If no games are scheduled by that time the match will be considered a draw, if the players still decide the play and the match starts, it will no longer be considered a draw.</li>
			<li>The deadline to entire replays will be the final monday of the round at 11:59pm EST. If not all replays have been turned in the match will be considered a draw.</li>
		</ol>
	</li>
	<li> 
		Matches 
		<ol type="I">
			<li>Group stage matches will be a Best of 3 with the top two players moving on to the bracket stage</li>
			<li>The number of groups will depend upon the number of participants who sign up for the tournament</li>
			<li>All bracket matches will be a best of 5 with the the exception of the Finals which will be a best of 7</li>
			<li>In the group stages, ties will be broken by in order of, total number of match wins, total number of matches played, by game record, and lastly heads-up record. If there is still a tie then it will be determined by coin flip</li>
 		</ol>
	</li>
	<li> 
		Maps and Vetoes 
		<ol type="I">
			<li>The map pool will consist of the current 1v1 ladder maps at the time the match is played</li>
			<li>The veto system for the best of 3 will be Ban A Ban B Ban A Ban B Pick A Pick B. For a best of 5 it will be Ban A Ban B Pick A Pick B Pick A Pick B. For a best of 7 it will be Pick A Pick B Pick A Pick B Pick A Pick B. The maps will be played in the order they are picked the leftover map will be played lasted</li>
		</ol>
	</li>
	<li>
		Live Event
		<ol type="I">
			<li>The semi-finals onward will be a casted event determined by the final 4 players and the Admins of the tournament.</li>
			<li>Replays of the Live Event must still be submitted for the results to count</li>
			<li>Players must not forfeit any matches during the live event</li>
			<li>	Players listed must show up for the event unless matches were scheduled and played in advance due to schedule conflicts.</li>
			<li>If any player breaks any of the rules they will forfeit their prize winnings</li>
			<li>Allow 1 week for prizes to be delivered</li>
		</ol>
	</li>
</ol>

{% endblock %}
