{% extends 'base.html' %}
{% load season_extras %}

{% block content %}

<h1> Season {{season.season_number}} </h1>
<h2> {{season.group_rounds.last }}</h2>
<div class="container-fluid">
	<div class="row">
		{% for group in groups %}
		<div class="col-md-3">
			<table class="table table-striped table-bordered">
				<thead>
					<tr><td class="text-center" colspan="3">{{group}}</td></tr>
					<tr>
						<th>Player</th>
						<th>Matchup W/L</th>
						<th>Game W/L</th>
					<tr>
				</thead>
				<tbody>
				{% for player in group.players.select_related.all %}
					{% group_matchup_record player group as matchup_record %}
					{% group_game_record player group as game_record %}
					<tr>
						<td><a href="{% url 'player_detail' player.id %}">{{player}}</a></td>
						<td>{% record_print matchup_record %}</td>
						<td>{% record_print game_record %}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th> Matchup </th>
						<th> Winner </th>
					</tr>
				</thead>
				<tbody>
					{% for matchup in group.matchups.all %}
					<tr>
						<td>{{matchup}} </td>
						<td>{{matchup.match_winner}} </td>					
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
