{% extends 'base.html' %}

{% block content %}

<h1> Season {{season.season_number}} </h1>
<h2> {{season.group_rounds.last }}</h2>
<div class="container-fluid">
	<div class="row">
		{% for group in groups %}
		<div class="col-md-4">
			<table class="table table-striped table-bordered">
				<thead>
					<tr><td class="text-center" colspan="3">{{group}}</td></tr>
					<tr>
						<th>Player</th>
						<th>Matches</th>
						<th>Games</th>
					<tr>
				</thead>
				<tbody>
				{% for player in group.players.all %}
					<tr>
						<td>{{player}}</td>
						<td>{{player.get_total_matches}}</td>
						<td>{{player.get_total_games}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
