{% extends 'base.html' %}
{% load dictionary_extras %}

{% block content %}

<h1> Season {{season.season_number}} </h1>
<h2> {{season.group_rounds.last }}</h2>
<div class="container-fluid">
	<div class="row">
		{% for group in groups %}
		<div class="col-md-3">
			<table class="table table-striped table-bordered">
				<thead>
					<tr><td class="text-center" colspan="3">{{group}}</td></tr>
					<tr>
						<th>Player</th>
						<th>Matchup W/L</th>
						<th>Game W/L</th>
					<tr>
				</thead>
				<tbody>
				{% for player in group.players.all %}
					<tr>
						<td>{{player}}</td>
						<td>{% record_print player.get_matchup_record %}</td>
						<td>{% record_print player.get_game_record %}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th> Matchup </th>
						<th> Winner </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> </td>
						<td> </td>					
					</tr>
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
