{% load socialaccount %}

{% url 'season_schedule' as schedule %}
{% url 'player_list' as players %}
{% url 'season_detail' as season %}
{% url 'rules' as rules %}
{% url 'account_logout' as logout %}

<nav class="navbar navbar-default">
	<div class="container-fluid">

		<!-- Navbar header / Brand image -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"	data-toggle="collapse"
							data-target="#menu-links" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{{season}}">
				<img alt="LiT Starleague" src=""/>
			</a>
		</div>
	
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="menu-links">
			<ul class="nav navbar-nav nav-tabs">
				<li><a role="button" href="{{season}}">Season</a></li>
				<li><a role="button" href="{{schedule}}">Schedule</a></li>
				<li><a role="button" href="{{rules}}">Rules</a></li>
				<li><a role="button" href="{{players}}">Players</a></li>
				
			</ul>
			<ul class="nav navbar-nav navbar-right">	
				<!-- Greeting and login/logout button -->
				{% if user.is_authenticated %}
					<span>{{user}}</span>
					<span><a role="button" class="btn btn-danger" href="{{logout}}?next={{request.path}}">Logout</a></span>
				{% else %}
				<div><a role="button" class="btn btn-primary" href="{% provider_login_url "battlenet" %}?next={{request.path}}">Login with Battle.net</a></div>					
				{% endif %}
				</div>
			</ul>
		</div>		
	</div>
</nav>
